.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #161616;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar a:hover {
  transition: color 0.1s ease; 
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.search-bar input {
  width: 100%;
  max-width: 360px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  text-align: center; 
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none; 
  position: absolute; 
  left: 0; 
  top: 100%; 
  background-color: rgb(71, 67, 67); 
  white-space: nowrap; 
}

.dropdown-content h4 {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px; 
  padding-left: 50px; 
  position: relative;
  margin: 1px 0; 
}

.dropdown-content p {
  position: relative; 
  color: rgb(255, 255, 255); 
  padding: 0px 30px; 
  margin-left: 80px;  
  cursor: pointer; 
}

.dropdown-content p::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s; 
}

.dropdown-content p:hover::after {
  width: 100%; 
}

.dropdown:hover .dropdown-content {
  display: block; 
}
.user-icon {
  cursor: pointer; 
}
