.categories-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px; 
}
.category-card {
    display: flex; 
    flex-direction: row; 
    overflow: hidden; 
    transition: transform 0.3s; 
    border-radius: 10px; 
    background: linear-gradient(145deg, #5d5b5b, #6e6c6c);
    box-shadow:  19px 19px 38px #4a4949,
                -19px -19px 38px #848181;
    padding: 20px; 
}
.category-card img {
    width: 40%; 
    height: auto; 
    margin-right: 20px; 
}

.category-card .content {
    flex: 1; 
}